In [22]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
   
SELECT r1.name, r1.member_rev+r2.guest_rev as revenue
FROM (SELECT f.name, SUM(slots*membercost) as member_rev
	FROM Bookings as b
	INNER JOIN Facilities as f on b.facid=f.facid
	WHERE b.memid != 0
     group by f.name) as r1,
	(SELECT f.name, sum(slots*guestcost) as guest_rev
	FROM Bookings as b
	INNER JOIN Facilities as f on b.facid=f.facid
	WHERE b.memid = 0
    group by f.name) as r2
where r1.member_rev+r2.guest_rev< 1000.0 and r1.name=r2.name
GROUP BY r1.name
ORDER BY revenue DESC;
    
    """
    query2 = """
    SELECT m.surname, m.firstname, a.surname as Recomm_surname, a.firstname as Recomm_firstname
FROM (select surname, firstname, memid
from Members) as a,
Members as m
where m.recommendedby=a.memid and m.memid != 0 and a.memid != 0
order by m.surname, m.firstname; """
    
    query3 = """
    select f.name, sum(slots)
from Facilities as f
INNER JOIN Bookings as b on f.facid=b.facid
INNER JOIN Members as m on b.memid=m.memid
where m.memid != 0
GROUP BY f.name; """
    
    
    cur.execute(query1)
 
    rows = cur.fetchall()
    conn.commit()
 
    for row in rows:
        print(row)
        
    cur.execute(query2)
    
    rows = cur.fetchall()
    conn.commit()
 
    for row in rows:
        print(row)
    
    cur.execute(query3)
    
    rows = cur.fetchall()
    conn.commit()
 
    for row in rows:
        print(row)

def main():
    database = "C:/Users/User/Desktop/Data Science Course/Unit 8 SQL/SQLFiles Tier 1/sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)
('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Jack', 'Smith', 'Darren')
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')
('Badminton Court', 1086)
('Massage Room 1', 884)
('Massage Room 2', 54)
('Pool Table', 856)
('Snooker Table', 860)
('Squash Court', 418)
('Table Tennis', 794)
('Tennis Court 1', 957)
('Tennis Court 2', 882)